# OS
.DS_Store

# Dependencies
mobile/node_modules/

# React Native
mobile/.metro-health-check*
mobile/vendor/bundle/
mobile/ios/Pods/
mobile/ios/build/
**/.xcode.env.local
mobile/android/.gradle/
mobile/android/app/build/
mobile/android/build/
mobile/android/.cxx/

# Env
.env
.env.*

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# IDE
.idea/
.vscode/
*.xcuserstate
